<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


    <!-- MainActivity 設定為啟動畫面 -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GameActivity 定義遊戲畫面 -->
        <activity android:name=".GameActivity"
            android:exported="false" />
        <activity android:name=".QuestionActivity"
            android:exported="false" />
        <activity android:name=".DialogueActivity"
            android:exported="false" />
        <activity android:name=".ResponseActivity"
            android:exported="false" />
        <activity android:name=".SpecialScenarioActivity"
            android:exported="false" />
        <activity android:name=".ReportQuestionActivity"
            android:exported="false" />
        <activity android:name=".PoliceReportActivity"
            android:exported="false" />
    </application>

</manifest>
